{% extends '!OroEmailBundle:Form:fields.html.twig' %}

{% block oro_email_emailtemplate_localizations_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div class="emailtemplate-translatation oro-tabs tabbable" {{ UI.renderPageComponentAttributes({
        view: 'oroemail/js/app/views/email-translation-view'
    }) }}>
        {% set tabId = 'email-localization-'|uniqid %}
        {% set tabContentId = tabId %}
        <div class="oro-tabs__head" {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/tabs-component'
        }) }}>
            <ul class="nav nav-tabs" role="tablist">
                {% spaceless %}
                    {% for templateLocalization in form %}
                        {{ _self.renderTabNavItem(templateLocalization, loop.first, tabId ~ '-' ~ loop.index) }}
                    {% endfor %}
                {% endspaceless %}
            </ul>
        </div>
        <div class="oro-tabs__content">
            <div class="tab-content">
                {% spaceless %}
                    {% for templateLocalization in form %}
                        {{ _self.renderTab(templateLocalization, loop.first, tabContentId ~ '-' ~ loop.index) }}
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_email_emailtemplate_localizations_template_widget %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_row(form.subject) }}
        {% if form.subjectFallback is defined %}
            {{- form_row(form.subjectFallback) }}
        {% endif %}

        {{ form_row(form.content) }}
        {% if form.contentFallback is defined %}
            {{- form_row(form.contentFallback) }}
        {% endif %}
    </div>
{% endblock %}

{% block _oro_email_emailtemplate_localizations_template_fallback_checkbox_row %}
    <div class="control-group control-group-checkbox">
        <div class="control-label wrap">&nbsp;</div>
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_label(form) }}
        </div>
    </div>
{% endblock %}

{% macro renderTabNavItem(form, isActive = false, uniqid = null) %}
    {% set locale = 'localization-' ~ form.vars.name %}

    <li class="nav-item">
        <a href="#"
           class="nav-link {% if isActive %}active{% endif %}"
           data-role="change-language"
           data-target=".emailtemplate-translatation-fields-{{ locale }}"
           data-toggle="tab"
           data-related="{{ locale }}"
           role="tab"
           aria-selected="{{ isActive ? 'true' : 'false' }}"
                {% if uniqid %}
                    id="{{ uniqid ~ '-tab'}}"
                    aria-controls="{{ uniqid }}"
                {% endif %}
        >
            {%- if form.vars.localization_title is not empty -%}
                {{ form.vars.localization_title }}
            {%- else -%}
                {{ 'oro.localizedemailtemplates.emailtemplatelocalization.form.default_localization'|trans }}
            {%- endif -%}
        </a>
    </li>
{% endmacro %}

{% macro renderTab(form, isActive = false, uniqid = null) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set locale = 'localization-' ~ form.vars.name %}

    <div class="emailtemplate-translatation-fields-{{ locale }} tab-pane{% if isActive %} active{% endif %}"
         role="tabpanel"
            {% if uniqid %}
                id="{{ uniqid }}"
                aria-labelledby="{{ uniqid ~ '-tab' }}"
            {% endif %}
            {{ UI.renderPageComponentAttributes({
                view: 'orolocalizedemailtemplates/js/app/view/localized-template-view',
                options: {
                    'localization': {
                        'id': form.vars.localization_id,
                        'parentId': form.vars.localization_parent_id,
                    }
                }
            }) }}
    >
        {{ form_widget(form) }}
    </div>
{% endmacro %}

